@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SFCompact;
  src: url("../fonts/SF-Compact.ttf");
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: SFMono;
  src: url("../fonts/SF-Mono-Semibold.otf");
  font-weight: 600;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
